Source: ros-kinetic-robotis-op3-msgs
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/robotis_op3_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-robotis-op3-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-op3-action-module-msgs, ros-kinetic-op3-offset-tuner-msgs, ros-kinetic-op3-walking-module-msgs
Description: ROS msgs packages for the ROBOTIS OP3 (meta package)
